.company {
    display:grid;
    grid-template-columns: 20px auto;
}

.companyHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-column: 1/-1;
}

.companyName {
    font-weight: 500;
    font-size: 1.25em;
}
.dates {
    font-weight: 400;
    padding-left: 7px;
    padding-bottom: 2px;
}

.positions {
    grid-column-start: 2;
}
