.company {
    display:grid;
    grid-template-columns: 10px auto;
}

.companyHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-column: 1/-1;
}

.companyName {
    font-weight: 500;
    font-size: 1.25em;
}
.dates {
    font-weight: 400;
    padding-left: 5px;
}

.position{
}