.container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.positionsDate {
    font-size: .80em;
}

.descList {
    list-style: none;
}

.techImages{
    height: 2rem;
    width: 2rem;
    margin: 0px 5px;
}

.positionHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.positionHeading div:nth-child(2) {
    flex:1;
} 

.arrow {
    height: 2em;
    width: 2em;
    margin-right: 10px;
}

.arrow > .rotateUp {
 animation: rotate-up .5s;
 animation-fill-mode: forwards;      
}

@keyframes rotate-up {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(-90deg);
    }
}

.arrow > .rotateDown {
 animation: rotate-down .5s;
 animation-fill-mode: forwards;      
}

@keyframes rotate-down {
    from {
     transform: rotate(-90deg);
    }
   
    to {
     transform: rotate(0deg);
    }
}