.team{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ownerAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ownerAvatar > img {
  height: 35px;
  width: 35px;
  padding: 2px;
  border-radius: 50%;
}

/* If a user doesn't have an avatar, their name will be 15px off center */
.ownerAvatar > h3 {
  margin: 0 0 0 15px;
}

.playerContainer{
  padding: 20px;
}

.tradingBlock {
    background-color: #62788D;
    border-radius: 10px;
    flex:1;
}

@media screen and (max-width: 800px) {
  .team{
    width: 100%;
  }
}