
.container {
  display: grid;
  grid-template-columns: 20% [content] auto 20%;
  grid-template-rows: 85px auto auto;
  height: 100%;
}

.header {
  grid-column-start: content;
}

.experience {
  grid-column-start: content;

}

.education {
  grid-column-start: content;
}

@media (max-width: 360px) {
  .container {
    grid-template-columns: 5% [content] auto 5%;
  }
}