.container {
  display: grid;
  grid-template-columns: 40px [content] auto 40px;
  grid-template-rows: auto 100px auto;
  height: 100%;
}

.header {
  grid-column-start: content;
}

.experience {
  grid-column-start: content;
}