html {
  height: 100%;
}

body {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 20% [content] auto 20%;
  grid-template-rows: 85px auto 85px;
}

.header {
  grid-column-start: content;
}

.contentGrid{
  grid-column-start: content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

}

.contentRow {
  grid-column-start: content;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.sectionIconsGrid{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 140px 140px;
  grid-template-rows: repeat(2, 140px);

}

.sectionIconsRow{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 140px 140px 140px 140px 140px 140px;
  grid-template-rows: auto;

}

.icon{
  height: 100px;
  width: 100px;
}
.iconText{
  opacity: 0;
  display: none;
  font-size: 200%;
}

.iconHolder {
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.iconHolder:hover > .icon{
  animation: fadeOut 1s forwards;
  display: none;
}

.iconHolder:hover > .iconText{
  display: flex;
  animation: fadeIn 1s forwards;
}

.sectionContent {
  grid-column-start: content;
  animation: fadeIn 1s forwards;
  width: 100%;
}

@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
    to { opacity: 0; }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 5% [content] auto 5%;
  }
}
@media (max-width: 600px) {
  .iconHolder {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 375px) {
  .container {
    grid-template-columns: 2% [content] auto 2%;
  }
  .icon{
    width: 25px;
    height: 25px;
  }
}