.content {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.name {
  padding: 20px;
  font-size: 2em;
  font-weight: 700;
}

@media (max-width: 360px) {
  .name {
    padding-left: 0px;
    padding-right: 0px;
  }
}