.team{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.owner {
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.playerContainer{
  padding: 20px;
}

.tradingBlock {
    background-color: #62788D;
    border-radius: 10px;
    flex:1;
}

@media screen and (max-width: 800px) {
  .team{
    width: 100%;
  }
}