.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.menu >div {
    max-width: 75%;
}

.iconHolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    flex-wrap: wrap;
    transition: 0.3s;
}

.iconHolder:hover > .decorativeLine{
    background-image: linear-gradient(90deg, #617487 0%, #000000 50%);
}
.iconHolder:hover > .iconText{
    font-size: 1.65em;
}

.iconHolder.selected > .iconText{
    font-size: 1.65em;
}
.iconHolder.selected > .decorativeLine{
    background-image: linear-gradient(90deg, #617487 0%, #000000 50%);
}

.icon{
    height: 50px;
    width: 50px;
}

.iconText{
    font-size: 1.5em;
    transition: 0.3s;
}

.decorativeLine{
    margin-top: 5px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(90deg, #000000 0%, #617487 50%);
    transition: 0.5s;
}

@media (max-width: 1530px) {
    .icon{
        height: 35px;
        width: 35px;
    }
    
    .iconText{
        font-size: 1.25em;
        transition: 0.3s;
    }
    .iconHolder.selected > .iconText{
        font-size: 1.25em;
    }
    .iconHolder:hover > .iconText{
        font-size: 1.25em;
    }
  }
@media (max-width: 1220px) {
    .icon{
        height: 30px;
        width: 30px;
    }
    
    .iconText{
        font-size: 1.20em;
        transition: 0.3s;
    }
    .iconHolder.selected > .iconText{
        font-size: 1.20em;
    }
    .iconHolder:hover > .iconText{
        font-size: 1.20em;
    }
}
@media (max-width: 1145px) {
    .icon{
        display: none;
    }
    
    .iconText{
        font-size: 1.25em;
        transition: 0.3s;
    }
    .iconHolder.selected > .iconText{
        font-size: 1.25em;
    }
    .iconHolder:hover > .iconText{
        font-size: 1.25em;
    }
  }
@media (max-width: 700px) {
    .menu >div {
        max-width: 90%;
    }
    .icon{
        display: block;
        margin: 0 auto;
    }
    .iconText{
        display: none;
    }
  }